
#network-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    background: transparent !important; /* 一定要透明 */
}

.sidebar-container li,
.sidebar-container a {
    color: #444 !important;
}

.sidebar-container h5 {
    color: #333 !important;
}

.sidebar-container li a:hover {
    color: #000 !important;
}